body{
    display: flex;
    background-color: aqua;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main{
    margin-top: 200px;
    background-color: wheat;
    height: 180px;
    width: 400px;
    text-align: center;
    
}
label{
    display: block;
    padding-bottom: 5px;
    text-align: left;
    color: blueviolet;
    /* text-align: center; */
}
input{
    display: block;
    /* text-align: center; */
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    /* justify-content: center; */
    color: brown    ;
}
button{
    text-align: center;
    margin-top: 5px;
    color: blueviolet;
}
*{
    margin: 0px;
    padding: 0px;
}