/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Solar system container */
.solar-system {
    position: relative;
    width: 500px;
    height: 500px;
}

/* Sun */
.sun {
    width: 80px;
    height: 80px;
    background-color: orange;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    left: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}

/* Orbit common style */
.orbit {
    border: 1px dashed gray;
    border-radius: 50%;
    position: absolute;
}

/* Planet common style */
.planet {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mercury */
.mercury-orbit {
    width: 140px;
    height: 140px;
    top: 180px;
    left: 180px;
}
.mercury {
    background-color: gray;
}

/* Venus */
.venus-orbit {
    width: 200px;
    height: 200px;
    top: 150px;
    left: 150px;
}
.venus {
    background-color: yellow;
}

/* Earth */
.earth-orbit {
    width: 260px;
    height: 260px;
    top: 120px;
    left: 120px;
}
.earth {
    background-color: blue;
}

/* Mars */
.mars-orbit {
    width: 320px;
    height: 320px;
    top: 90px;
    left: 90px;
}
.mars {
    background-color: red;
}
